<h1>Chat</h1>

<label for="autor">Autor</label><input id="inputAutor" name="autor" type="text" disabled>
<label for="autor">Mensaje</label><input id="inputMensaje" name="mensaje" type="text">
<button id="btnEnviar">enviar</button>

<h3>Mensajes</h3>
{{!-- {{#if hayMensajes }}
<ul>
    {{#each mensajes}}
    <li>({{this.fecha}}) {{this.autor}}: {{this.mensaje}}</li>
    {{/each}}
</ul>   
{{else}}
<p>no hay mensajes...</p>
{{/if}} --}}
<div id="mensajes"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>